{% extends 'baseEquipe.html' %}
{% load static %}

{% block title %}Area Medica{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1 class="mt-4">Acompanhamento</h1>
    </div>
    </br>
    <div class="col-md-12">
    	<section class="panel">
    		<header class="panel-heading">
				<h2 class="panel-title">Informacoes do Paciente</h2>
				<div class="col-md-3 col-md-offset-3" style="margin-top: -25px;">
					<input class="form-control" value="BIP" type="text" placeholder="Search" aria-label="Search">
				</div>
    			<div class="panel-actions">
    				<a href="#" class="fa fa-caret-up"></a>
    				<a href="#" class="fa fa-times"></a>
    			</div>  
    		</header>
    		<div class="panel-body" style="display: none;">
    			<div class="row">
    				<div class="col-sm-4">
    					<div class="form-group">
    						<label class="control-label">ID</label>
    						<input type="text" name="id" class="form-control" value="BIP2020-1" disabled>
    					</div>
    				</div>
    				<div class="col-sm-4">
    					<div class="form-group">
    						<label class="control-label">Nome</label>
    						<input type="text" name="nome" class="form-control" value="Jose da Silva" disabled>
    					</div>
    				</div>
                    <div class="col-sm-4">
    					<div class="form-group">
    						<label class="control-label">Data de Nascimento</label>
    						<input type="text" name="datanascimento" class="form-control" value="xx/xx/xxxx" disabled>
    					</div>
    				</div>
    			</div>
                <div class="row">
    				<div class="col-sm-4">
    					<div class="form-group">
    						<label class="control-label">Idade</label>
    						<input type="text" name="idade" class="form-control" value="xx anos xx meses xx dias" disabled>
    					</div>
    				</div>
    				<div class="col-sm-4">
    					<div class="form-group">
    						<label class="control-label">Etnia</label>
    						<input type="text" name="etnia" class="form-control" value="xxx" disabled>
    					</div>
    				</div>
                    <div class="col-sm-4">
    					<div class="form-group">
    						<label class="control-label">Endereco</label>
    						<input type="text" name="endereco" class="form-control" value="Rua X Numero Y Bairro Z" disabled>
    					</div>
    				</div>
    			</div>
                <div class="row">
    				<div class="col-sm-4">
    					<div class="form-group">
    						<label class="control-label">Telefone</label>
    						<input type="text" name="telefone" class="form-control" value="(00) 00000-0000" disabled>
    					</div>
    				</div>
    				<div class="col-sm-4">
    					<div class="form-group">
    						<label class="control-label">Data TCE</label>
    						<input type="text" name="datatce" class="form-control" value="xx/xx/xxxx" disabled>
    					</div>
    				</div>
                    <div class="col-sm-4">
    					<div class="form-group">
    						<label class="control-label">Data Internacao</label>
    						<input type="text" name="datainternacao" class="form-control" value="xx/xx/xxxx" disabled>
    					</div>
    				</div>
    			</div>
                <div class="row">
    				<div class="col-sm-4">
    					<div class="form-group">
    						<label class="control-label">Data da Alta</label>
    						<input type="text" name="dataalta" class="form-control" value="xx/xx/xxxx" disabled>
    					</div>
    				</div>
    				<div class="col-sm-4">
    					<div class="form-group">
    						<label class="control-label">Data do Obito</label>
    						<input type="text" name="dataobito" class="form-control" value="xx/xx/xxxx" disabled>
    					</div>
    				</div>
                    <div class="col-sm-4">
    					<div class="form-group">
    						<label class="control-label">Sexo</label>
    						<input type="text" name="sexo" class="form-control" value="M" disabled>
    					</div>
    				</div>
    			</div>
    		</div>
    		<footer class="panel-footer pull-right">
    			<button class="btn btn-primary" data-toggle="modal" data-target="#CadastroEditar">Atualizar Informacoes</button>
    		</footer>
    	</section>
    </div>
    </br>



<!--modal de edicao de consulta-->
<div class="modal fade" id="CadastroEditar">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Editar informacoes Paciente</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
				<form class="form-horizontal form-bordered" id="edicaoconsulta">
					<div class="panel-body">
						<div class="row">
						<div class="col-sm-3">
							<div class="form-group">
								<label class="control-label">ID</label>
								<input type="text" name="id" class="form-control" value="BIP2020-1" disabled>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label class="control-label">Nome</label>
								<input type="text" name="nome" class="form-control" value="Jose da Silva" disabled>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label class="control-label">Data de Nascimento</label>
								<input type="text" name="datanascimento" class="form-control" value="xx/xx/xxxx" disabled>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<div class="form-group">
								<label class="control-label">Idade</label>
								<input type="text" name="idade" class="form-control" value="xx anos xx meses xx dias" disabled>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label class="control-label">Etnia</label>
								<input type="text" name="etnia" class="form-control" value="xxx" disabled>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label class="control-label">Endereco</label>
								<input type="text" name="endereco" class="form-control" value="Rua X Numero Y Bairro Z" disabled>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<div class="form-group">
								<label class="control-label">Telefone</label>
								<input type="text" name="telefone" class="form-control" value="(00) 00000-0000" disabled>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label class="control-label">Data TCE</label>
								<input type="text" name="datatce" class="form-control" value="xx/xx/xxxx" disabled>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label class="control-label">Data Internacao</label>
								<input type="text" name="datainternacao" class="form-control" value="xx/xx/xxxx" disabled>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<div class="form-group">
								<label class="control-label">Data da Alta</label>
								<input type="text" name="dataalta" class="form-control" value="xx/xx/xxxx" disabled>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label class="control-label">Data do Obito</label>
								<input type="text" name="dataobito" class="form-control" value="xx/xx/xxxx" disabled>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label class="control-label">Sexo</label>
								<input type="text" name="sexo" class="form-control" value="M" disabled>
							</div>
						</div>
					</div>	
				</form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Salvar alterações</button>
        </div>
        
      </div>
    </div>
</div>
{% endblock %}
