{% extends 'baseEquipe.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h2 class="mt-4 text-danger">BEM VINDOS A PLATAFORMA BIPEPBRASIL.</h2>
        <h1 class="mt-4">Olá, Sr.(a) {{nome}}</h1>
        <div class="col-lg-3 pull-right">
                <ul class="simple-card-list mb-xlg">
                    <li class="primary">
                        <h3>{{lastlogin}}</h3>
                        <p>Ultimo login</p>
                    </li>
                    <li class="primary">
                        <h3 class="text-center">Mensagens</h3>
                        <p class="text-center"><button type="submit" class="btn btn-primary mb-2"  onclick="relocate_chat()">Clique aqui</button></p>
                    </li>
                     <li class="primary">
                        <h3 class="text-center">Adicionar informacoes Paciente</h3>
                        <p class="text-center"><button type="submit" class="btn btn-primary mb-2"  onclick="relocate_cadastrar()">Clique aqui</button></p>
                    </li>
                </ul>
        </div>
        <br>
        <br>
        <div class="col-md-4">
            <div class="col-md-3">
                <img src="{% static 'img/simbolo.png' %}" height="250">
            </div>
        </div>
    </div>
 
<script>
function relocate_cadastrar()
{
     location.href = "/equipe/cadastropaciente";
}
function relocate_chat()
{
     location.href = "/equipe/chat";
} 
</script>

{% endblock %}
