{% extends 'basePaciente.html' %}
{% load static %}

{% block title %}Consultas{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">Acompanhamento Consultas</h1>
</div>
<div class="cold-md-12">
<div class="panel-body">
	<div class="table-responsive">
		<table class="table mb-none">
			<thead>
				<tr>
					<th>ID</th>
					<th>Data</th>
					<th>Hora</th>
					<th>Local</th>
					<th>Medico</th>
					<th>Editar</th>
				</tr>
			</thead>
			<tbody>
				{% for consulta in consultas %}
				<tr>
					<td>#</td>
					<td>{{consulta.data}}</td>
					<td>{{consulta.hora}}</td>
					<td>{{consulta.local.nome}}</td>
					<td>{{consulta.medico.nome}}</td>
					<td class="actions">
						<a class="btn fa fa-pencil myBtn" title="Editar" data-toggle="modal" onclick="relocate_edit({{consulta.idconsulta}})"></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>						
</div>
<script>
function relocate_edit(id)
{
     location.href = "editarconsulta/"+ id;
} 
</script>
{% endblock %}
