{% extends 'basePaciente.html' %}
{% load static %}

{% block title %}Exames{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">Acompanhamento Exames</h1>
</div>
<div class="cold-md-12">
<div class="panel-body">
	<div class="table-responsive">
		<table class="table mb-none">
			<thead>
				<tr>
					<th>Data</th>
					<th>Hora</th>
					<th>Local</th>
					<th>Acoes</th>
				</tr>
			</thead>
			<tbody>
				{% for exame in exames %}
				<tr>
					<td>{{exame.data}}</td>
					<td>{{exame.hora}}</td>
					<td>{{exame.local}}</td>
					<td class="actions">
						<a class="btn fa fa-pencil myBtn" title="Editar" data-toggle="modal" data-target="#consultaEdicao"></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>						

</div>



<!--modal de edicao de consulta-->
<div class="modal fade" id="consultaEdicao">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edicao de Exame</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
				<form class="form-horizontal form-bordered" id="edicaoconsulta">
					<div class="form-group">
						<label class="col-md-3 control-label">Alterar Data</label>
						<div class="col-md-6">
							<div class="input-daterange input-group" data-plugin-datepicker>
								<input type="text" class="form-control" value="03/06/2020" disabled>
								<span class="input-group-addon">Para</span>
								<input type="text" class="form-control" name="end">
							</div>
						</div>
					</div>
          <div class="form-group">
						<label class="col-md-3 control-label">Horario disponivel</label>
						<div class="col-md-6">
							<select class="form-control input-md mb-md">
								<option></option>
								<option>06:30</option>
								<option>07:30</option>
								<option>08:30</option>
							</select>
						</div>
					</div>
				</form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Salvar alterações</button>
        </div>
        
      </div>
    </div>
</div>
{% endblock %}
